{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks,
  [{"(linux|darwin|solaris|freebsd|win32)", compile, "bash -c \"cmake -S . -B cmake_marray && cmake --build cmake_marray --config Release && cmake --install cmake_marray --config Release\""}
]}.

{edoc_opts,
 [deterministic
  ,{platform_define, "^2", 'OTP_20_AND_ABOVE'}
  ,{doclet, edoc_doclet_chunks}
  ,{layout, edoc_layout_chunks}
  ,{preprocess, true}
  ,{dir, "_build/default/lib/marray/doc"}
 ]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/cocoa-xu/marray">>},
          {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>]},
          {main, <<"README.md">>}]}.
